<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.startup">
      <startup
            class="hu.bme.mit.cps.validation.CpsStartup">
      </startup>
   </extension>
   <extension
         id="hu.bme.mit.cps.validator"
         name="EValidator Example"
         point="org.eclipse.emf.validation.constraintProviders">
      <category
            id="hu.bme.mit.cps.validation.category"
            name="cps-category">
      </category>
      <constraintProvider
            cache="true">
         <package
               namespaceUri="http://www.example.org/cps">
         </package>
         <constraints
               categories="hu.bme.mit.cps.validation.category">
            <constraint
                  class="cps.constraint.NonEmptyNamesConstraint"
                  id="hu.bme.mit.cps.validation.constraint1"
                  isEnabledByDefault="true"
                  lang="Java"
                  mode="Batch"
                  name="Name_not_null"
                  severity="WARNING"
                  statusCode="201">
               <message>
                  The &quot;{0}&quot; element&apos;s name attribute is not filled
               </message>
               <target
                     class="CyberPhysicalSystem"></target>
               <description>
                  First EMF validation constraints. Names cannot be null.
               </description>
            </constraint>
            <constraint
                  class="cps.constraint.OnlyOneCriticalConstraint"
                  id="hu.bme.mit.cps.validation.constraint2"
                  isEnabledByDefault="true"
                  lang="Java"
                  mode="Batch"
                  name="Only_one_critical_task"
                  severity="ERROR"
                  statusCode="201">
               <message>
                  Every computer should contain only one critical task!
               </message>
               <target
                     class="Computer">
               </target>
            </constraint>
            <constraint
                  class="cps.constraint.CorrectSeverityLevelConstraint"
                  id="hu.bme.mit.cps.validation.constraint3"
                  isEnabledByDefault="true"
                  lang="Java"
                  mode="Batch"
                  name="Correct_severity_level"
                  severity="ERROR"
                  statusCode="201">
               <message>
                  Severity level is incorrect!
               </message>
               <target
                     class="Task">
               </target>
            </constraint>
            <constraint
                  class="cps.constraint.DifferentControllerTasksConstraint"
                  id="hu.bme.mit.cps.validation.constraint4"
                  isEnabledByDefault="true"
                  lang="Java"
                  mode="Batch"
                  name="Different_controller_tasks"
                  severity="ERROR"
                  statusCode="201">
               <message>
                  A controller can have only one type of task!
               </message>
               <target
                     class="Controller">
               </target>
            </constraint>
            <constraint
                  class="cps.constraint.AvailableSlotsConstraint"
                  id="hu.bme.mit.cps.validation.constraint5"
                  isEnabledByDefault="true"
                  lang="Java"
                  mode="Batch"
                  name="Calculated_available_slots"
                  severity="ERROR"
                  statusCode="201">
               <message>
                  Incorrect available slots number!
               </message>
               <target
                     class="Computer">
               </target>
            </constraint>
         </constraints>
      </constraintProvider>
   </extension>
   <extension
         point="org.eclipse.emf.validation.constraintBindings">
      <clientContext
            default="true"
            id="hu.bme.mit.cps.validation.clientContext">
         <selector
               class="hu.bme.mit.cps.validation.ValidationDelegateClientSelector">
         </selector>
      </clientContext>
      <binding
            category="hu.bme.mit.cps.validation.category"
            context="hu.bme.mit.cps.validation.clientContext">
      </binding>
   </extension>

</plugin>
